//Colours
//light
$bg--light:#F5F4F3;
$bg--2--light: #e4e3e2;
$text--light:#333333;
$text--imp--light: #000066;
$text--2--light: "";
$brand--blue--light: #3333ff;
//dark
$bg--dark:#333333;
$bg--2--dark: #222222;
$text--dark:#F5F4F3;
$text--imp--dark: #3366ff;
$text--2--dark:"";
$brand--blue--dark: #6699ff;